@{
    ViewBag.Title = "Contact";
}
<div class="adress">
    <h2>Contact</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Kharkiv Ukraine<br />
        <abbr style="margin-top:1%">Phone:</abbr><br />
        +38-098-725-99-06<br />
        +380-93-398-36-31<br />
    </address>
    <div style="display:flex; margin-bottom:1%">
        <a style="margin-right:1%" href="https://www.facebook.com/profile.php?id=100008246208905"><img src="~/img/Contacts-icons/facebook.JPG" class="social-icon" /></a>
        <a style="margin-right:1%" href="http://t.me/funnyhatseller"><img src="~/img/Contacts-icons/telegram.JPG" class="social-icon" /> </a>
        <a style="margin-right:1%" href="https://vk.com/bohdansoloviov"><img src="~/img/Contacts-icons/vk.JPG" class="social-icon" /></a>
        <a style="margin-right:1%" href="https://www.linkedin.com/in/bohdan-soloviov-7481b6166/"><img src="~/img/Contacts-icons/linkedin.JPG" class="social-icon" /> </a>
    </div>
    <div style="display:flex;">
        <a style="margin-right:1%" > <img src="~/img/Contacts-icons/viber.JPG" class="social-icon" /></a>
            <a style="margin-right:1%" href="https://www.youtube.com/channel/UCPt7xsJ4jAYyG3uGhyjJuUw?view_as=subscribe "> <img src="~/img/Contacts-icons/youtube.JPG" class="social-icon" />  </a>
            <a style="margin-right:1%"  href="https://plus.google.com/u/0/118158086935002945444?tab=wX "> <img src="~/img/Contacts-icons/google.JPG" class="social-icon" /></a>
            <a style="margin-right:1%"  href="https://www.instagram.com/bohdan__soloviov/ "><img src="~/img/Contacts-icons/insta.JPG" class="social-icon" /> </a>
    </div>
    <address>
        <div class="contact-links" style="margin-top:1%">
            <strong>Mail me here:</strong> <a href="mailto:bohdan.soloviov@nure.ua" style="color:aquamarine">bohdan.soloviov@nure.ua</a>
        </div>
    </address>
</div>