@{
    ViewBag.Title = "Contact";
}
<div class="adress">
    <h2>Contact</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Kharkiv Ukraine<br />
        <abbr style="margin-top:1%">Phone:</abbr><br />
        +38-098-725-99-06<br />
        +380-93-398-36-31<br />        
    </address>
    <div style="display:flex">
        <img src="~/img/Contacts-icons/facebook.JPG" class="social-icon" />
        <img src="~/img/Contacts-icons/telegram.JPG" class="social-icon" />
        <img src="~/img/Contacts-icons/vk.JPG" class="social-icon" />
        <img src="~/img/Contacts-icons/linkedin.JPG" class="social-icon" />
    </div>
    <div style="display:flex;">
        <img src="~/img/Contacts-icons/viber.JPG" class="social-icon" />
        <img src="~/img/Contacts-icons/youtube.JPG" class="social-icon" />
        <img src="~/img/Contacts-icons/google.JPG" class="social-icon" />
        <img src="~/img/Contacts-icons/insta.JPG" class="social-icon" />
    </div>
    <address>
        <div class="contact-links" style="margin-top:1%">
            <strong>Mail me here:</strong> <a href="mailto:bohdan.soloviov@nure.ua" style="color:aquamarine">bohdan.soloviov@nure.ua</a>
        </div>
    </address>
</div>