@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <div style="display:flex">
        <h1 style="margin-top:7%">Bohdan Soloviov</h1>
        <img src="~/img/Home/home-photo.JPG" class="home-image" />
    </div>
    <p class="lead">
        Hi, i`m 21 years old student. Trying to learn MVC.NET as more as i can using this site. Here you can see something that on my mind. I am going to
        write reviews on movies, games, etc. Obviously in English:D add some functionality aswell. I`m really sorry about your eyes. I`m definitely not creative person. But anyway,
        that`s my "blog". Do what i want;)
    </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Download CV  &raquo;</a></p>

    <div class="row">
        <div class="col-md-4">
        </div>
    </div>
</div>

