<div style="display:flex">
    <div class="w3-card-4" style="margin:5%">
        <img src="~/img/Projects/home-hospital.jpg" alt="Hospital" style="width:250px;height:180px">
        <div class="w3-container w3-center" style="color:white">
            <p>Hospital system</p>
            <p>Acadamy courcework</p>
        </div>
    </div>
    <div class="w3-card-4" style="margin:5%">
        <img src="~/img/Projects/social-network.jpg" alt="Norway" style="width:250px;height:180px">
        <div class="w3-container w3-center" style="color:white">
            <p>Social-Network</p>
            <p>Bachelor thesis</p>
        </div>
    </div>

    <div class="w3-card-4" style="margin:5%">
        <img src="~/img/Projects/cities.jpg" alt="Norway" style="width:250px;height:180px">
        <div class="w3-container w3-center" style="color:white">
            <p>Cities the game</p>
            <p>Practice project</p>
        </div>
    </div>
</div>

<div style="display:flex">
    <div class="w3-card-4" style="margin:5%">
        <img src="~/img/Projects/interneraStore.jpeg" alt="Norway" style="width:250px;height:180px">
        <div class="w3-container w3-center" style="color:white">
            <p>Internera Store</p>
            <p>Test task</p>
        </div>
    </div>
    <div class="w3-card-4" style="margin:5%">
        <img src="~/img/Projects/healthy.jpg" alt="Norway" style="width:250px;height:180px">
        <div class="w3-container w3-center" style="color:white">
            <p>Healthy Dream</p>
            <p>Xamarin practice</p>
        </div>
    </div>
</div>